@model GenElect.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elective1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elective1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elective2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elective2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elective3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elective3)
        </dd>
    </dl>
</div>

<div class="container">
    <div class="row">
        <h4>Roles this user belongs to:</h4>
    </div>
    @if(ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user</p>
    }

    @foreach (var item in ViewBag.RoleNames)
    {
        <div class="row">
            @item
        </div>
    }
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

